<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% from "macro/form.html" import render_form %}
    <form method="post" action="{{ url_for("blog.BlogView:login") }}">
    {{ render_form(form) }}
    <span>{{ form.remember_me }} Remember me &middot<a class="forgot" href="#"> Forgot password?</a></span><br><p></p>
    <input type="submit" value="Login" class="submit_form"<p></p><hr>
    </form>
    <div class="registration form signin">Not a member yet?</div><br>
    <a class="button" href="{{ url_for("blog.BlogView:registration") }}">Registration</a>

</body>
</html>