{% extends "base.html" %}
{% block title %}<title>{{ title }}</title>{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/blog-style.css") }}">
{% endblock css %}
{% block js %}
    <script src="{{ url_for("static", filename="js/login_dialog.js") }}"></script>
{% endblock js %}
{% block content %}
<div id="sticker"></div>
<div id="main_content">
    <div id="new_post">
        <form>
            <textarea id="quick_post" rows="4" placeholder="What's on your mind?"></textarea><br><br>
            <div class="buttons_post" style="display: static">
                <input type="file" class="foto" style="display: none"><i class="fa fa-camera"></i></input>
                <i class="fa fa-apple"></i>
                <i class="fa fa-twitter"></i>
                <div id="submit_post">
                    <input class="send_post" type="submit" method="post" value="Send" style="display: none"  action="{{ url_for("blog.BlogView:new_post") }}">
                        <span class="counter">  140  </span>
                        <i class="fa fa-pencil-square-o fa-1x"><span class="tweet"> Share</span></i>
                    </input>
                </div>
            </div>
        </form>
        {% for post in posts %}
        <div class="post">
            <p data-post-id="{{ post.id }}">
                <a class="author" href="{{ url_for('blog.BlogView:user_page', user_name=user.name) }}">{{ user.name }}</a>
                <span class="post-time">{{ post.created | passed }}</span>
            </p>
            <span> {{ post.body }} </span>
        </div>
        {% endfor %}
    </div>
    <br>
</div>
{% endblock content %}