body {
      background-color: #CCC;
    }
#q-container {
  position: relative;
  /*left: 35%;*/
  /*top: 20%;*/
  width: auto;
  margin-right: 25%;
  margin-left: 25%;
  background-color: #fff;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 5px; 
  font-family: serif; 
  font-size: 2em; 
  box-shadow: 2px 2px 5px 2px #999;
}
#next-button, #prev-button {
  position: relative;
  padding: 3px 5px;
  background-color: #1b95e0;
  border-radius: 5px;
  color: white;
  top: -8px;
  opacity: 0.5;
  border: 1px solid #1577b3;
  transition: all 0.7s;
  cursor: pointer;
  margin-right: 5px;
}
#next-button:hover, #prev-button:hover {
  opacity: 1;
}
#next-button:active, #prev-button:active {
  background-color: #0a3b59;
}
#err-msg, .err-msg {
  margin-right: 33%;
  margin-left: 33%;
  color: white;
  background-color: #ea440c;
  padding: 5px 0; 
  text-align: center;
  border-radius: 5px;
}
#total {
  /*-webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(180deg);*/
  /*opacity: 0.5;*/
  /*position: absolute;*/
  border-radius: 5px;
  background-color: #4CAF50;
  width: 0%;
}
#label {
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}
#progress {
  background-color: #ddd;
  width: 100%;
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px #666;
}
#refresh-btn {
  padding: 2px 5px;
  background-color: #1b95e0;
  margin-left: 45%;
  margin-right: 45%;
  display: block;
  text-align: center;
  border-radius: 5px;
  position: relative;
  top: 8px;
  text-decoration: none;
  color: white;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 10px #666;
}
#refresh-btn:hover {
  background-color: #1577b3;
  opacity: 1;
  box-shadow: 5px 5px 10px #666;
}
#refresh-btn:active {
  background-color: #0a3b59;
}
#greet {
  background-color: #FFF;
  padding: 10px;
  position: absolute;
  top: 30%;
  left: 35%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px #999;
  width: 30%;
  height: auto;
  text-shadow: 1px 1px 1px 2px #ccc;
  font-size: 2.3em;
  font-family: verdana;
  text-align: center;
}
#greet-form {
  padding: 15px 10px;
  position: relative;
  text-align: center;
}
.user-input {
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  border-radius: 10px;
  transition: .5s ease;
  border: 2px solid #e1e8ed;
  /*outline-width: 0;*/
  outline: none;
  width: 70%;
  -webkit-box-shadow: inset 150px 150px 150px 50px #fff
  padding: 0 10px;
  height: 1em;
  font-size: 1em;
}
.user-input:focus {
  box-shadow: 0px 0px 5px 2px #1b95e0;
  /*border: 2px solid #1b95e0;*/
}
.user-input::-webkit-input-placeholder {
  border-radius: 10px;
  font-size: 1em;
  font-family: times;
  font-style: italic;
  text-align: center;
  transition: 0.5s ease;
  color: #BFCDD6;
  /*background-color: #f5f8fa;*/
  background-color: #f5f8fa;
}
.user-input:focus::-webkit-input-placeholder {
  background-color: #fff;
  opacity: 0.7;
  font-family: times;
}
.start-app {
  text-align: center;
  display: block;
  margin-right: 33%;
  margin-left: 33%;
  margin-bottom: 3%;
  margin-top: 2%;
  cursor: pointer;
  background: #1b95e0;
  border-radius: 5px;
  opacity: 1;
  transition: .5s;
  color: white;
  padding: 2px 5px;
  top: -5px;
  position: relative;
  box-shadow: 0px 0px 3px 2px #ccc
  width: 20%;
  text-decoration: none;
}
.start-app:hover {
  opacity: 1;
  color: #1b95e0;
  background-color: white;
  box-shadow: 0px 0px 5px 4px #ccc;
}
/*.strart-app:after {
  content: ">>";
  font-size: 0.5em;
}*/